---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize } from "../lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { FaHashtag } from "react-icons/fa";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
const categories = await getTaxonomy("posts", "categories");
const tags = await getTaxonomy("posts", "tags");
---

<Base>
  <section class="section">
    <div class="container">
      <div class="container text-center mb-4">
        <ul class="space-x-4">
          <li class="inline-block">
            <a
              href={`/categories`}
              class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
            >
              <BiCategoryAlt className="mr-1 text-primary group-hover:text-white transition h-6 w-6 scale-75" />
              <>All categories</>
            </a>
          </li>
          {
            categories.slice(0, 5).map((category) => (
              <li class="inline-block">
                <a
                  href={`/categories/${category}`}
                  class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
                >
                  <BiCategoryAlt className="mr-1 text-primary group-hover:text-white transition h-6 w-6 scale-75" />
                  <>{humanize(category || "")}</>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="container text-center mb-4">
        <ul class="space-x-4">
          <li class="inline-block">
            <a
              href={`/tags`}
              class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
            >
              <FaHashtag className="mr-1 text-primary group-hover:text-white transition" />
              <>All tags</>
            </a>
          </li>
          {
            tags.slice(0, 7).map((tag) => (
              <li class="inline-block">
                <a
                  href={`/tags/${tag}`}
                  class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
                >
                  <FaHashtag className="mr-1 text-primary group-hover:text-white transition" />
                  <>{humanize(tag || "")}</>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
